*,
*::before,
*::after {
  /* The width and height you specify include the padding and border. */
  /* The content area shrinks to fit within the specified dimensions, ensuring a more predictable layout. */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --txtbase: #555;
    --bgbase: #b8b8b8;
    --btntext:#fff; 
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    .logo-holder {
        display: flex;
        align-items: center;
        font-weight: 600;
        color: var(--txtbase);
        text-decoration: none;
        .logo {
            display: flex;
            height: 60px;
            @media (max-width: 480px) {
                height: 42px;
            }
        }
        .logo-text {
            flex: 1;
        }
    }
    nav {
        display: flex;
        
        align-items: center;
        ul {
          display: flex;
          gap: 5px;
          list-style-type: none;
          li {
            a {
              display: inline-block;
              padding: 10px 20px;
              color: var(--txtbase);
              }
            }
          }
        }
    }


body {
    font-family: "Open Sans", sans-serif;
    color: var(--txtbase);
}

h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
  }
/*
h2 {
    font-size: 2em;
    text-align: center;
  }

p {
    font-size: 1em;
    text-align: center;
}

li a {
    text-decoration: none;
}
*/
section {
    
    margin: auto;
}

   
.hero{
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 480px){
        flex-direction: column;
    }

    .hero-left {
        display: flex;
        flex: 1 1 50%;
        
        .banner {
            flex: 1;
            padding: 50px;
            background-color: var(--bgbase);
            img {
                width: 60%;
            }
            
            @media (max-width: 480px){
                padding: 0px;
                width: 100%;  
            }
        }
    }
    .hero-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1 1 50%;
        background-color: var(--bgbase);
        @media (max-width: 480px){
            padding: 15px;
        }

        .call-to-action {
            background-color: var(--txtbase);
            color: var(--btntext);
            height: 50px;
            width: 40%;
            border: none;
            margin: 24px auto 32px auto;
            @media (max-width: 480px){
            height: 50px;
            width: 40%;
            
        }
    }
    }
}

.information {
    display: flex;
    overflow: hidden;}
    .informaiton-main{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media (max-width: 480px) {
            display: none;
        }
        img {
            width: 80%;
            
        }
    }
    .information-right {
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
    }
    .sub-information {
        padding-bottom: 32px;
    }


.course{
    .course-container{
        display: flex;
        justify-content: space-around;
        gap: 8px;
        padding-bottom: 8px;
        a {
            text-decoration: none;
            color: var(--txtbase);
        }
        @media (max-width: 480px){
            align-items: center;
            flex-direction: column;
        }
    .course-detail {
        flex: 1;
        
        background-color: var(--bgbase);
        flex-basis: 80px;
        }
    }

}

.thesis {
    .thesis-content{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .vdo{
            width: 100%;
        }
        .thesis-left {
            display: flex;
            flex-direction: column;
        }
        .thesis-right{
            display: flex;
            flex-direction: column;

            .thesis-sub {
                display: flex;
                flex-direction: row;
                flex: 1;
            }
        }
    }
} 
.footer {
    
    .footer-wrap{
        display: flex;
        justify-content: space-between;
        padding: 16px;
        a   {
        text-decoration: none;
        } 
    }
    }

.mobile-hidden {
        @media (max-width: 480px) {
            a{
                display: none;
            }
            display: none;
    }
}
.pc-hidden {
    @media (min-width: 480px) {
        display: none;    
    }
    
}

